.c-logo__link {
  *zoom: 1; }
  .c-logo__link:before, .c-logo__link:after {
    display: table;
    content: ' ';
    line-height: 0; }
  .c-logo__link:after {
    clear: both; }

.c-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .c-logo__link {
    padding: 0 10px; }
  .c-logo__image {
    width: 30px;
    height: auto;
    float: left; }
  .c-logo__label {
    float: left;
    width: 300px;
    font-family: 'Pacifico', cursive;
    line-height: 30px;
    padding-left: 10px; }
